body { font-family:微软雅黑; font-size:14px; color:#000;
}
a { text-decoration:none; color:#000;}
.middle{ width:1100px; height:500px; margin:0px auto;}
.Fleft{ width:700px; float:left; height:450px; margin-top:20px;}
.Fright{ width:398px; float:left; margin-top:20px; border:1px solid #00A1F2}


/*UserReg.aspx用户登录*/
.login{ width:398px; float:left; margin-top:20px; border:1px solid #00A1F2}
#loginForm INPUT { border: #a5acb2 1px solid; background: #f4f4f4; height: 30px; font-size: 20px; overflow: hidden;}
#loginForm {  width: 398px; background: #fff; height: 310px;}
#loginForm H3 { padding-bottom:8px; margin: 0px 0px 30px; padding-left: 20px; padding-right: 0px; background:#00A1F2; COLOR: #fff; padding-top:14px}
#loginForm LABEL { padding:8px 40px; display:block;}
#loginForm LABEL SPAN {DISPLAY: block; PADDING-TOP: 8px;}
#loginForm LABEL .input {MARGIN: -25px 0px 0px 70px; WIDTH: 200px; }
#loginForm #submit {MARGIN-TOP: 10px; PADDING-LEFT: 110px}
#submit a{ color:#000000;}
#loginForm .bt { width: 99px; height: 35px; background:#00A1F2; cursor:pointer; color:#ffffff;}
.bt { width: 99px; height: 35px; background:#00A1F2; cursor:pointer; color:#ffffff; font-size:18px;}
.youke{ margin-top:25px; margin-left:40px;}

.regtitle{width:95%; height:35px; border-bottom:2px solid #06C8FD}
.regtitle font{ font-size:24px; color:#00C6FF;}
.Regrule{ width:95%; height:367px; margin-top:5px; border:1px solid #D1D1D4; border-right:none;}
p{ text-indent:2em;}


/*UserRelease.aspx用户注册*/
.REleft{ width:300px; float:left; height:672px; margin-top:20px; border:1px solid #00A1F2}
.REright{ width:750px; float:left; margin-top:20px; margin-left:48px;}
.Releasetitle{width:100%; height:35px; border-bottom:2px solid #06C8FD}
.Releasetitle font{ font-size:24px; color:#00C6FF;}
.Rmiddle{width:1100px; height:600px; margin:0px auto;}
.Release{ width:95%; height:auto; margin-top:5px; }
.Input{ width:250px; height:28px; margin-top:10px; }


/*时间选择插件*/
.tcalInput {background: url('../images/cal.gif') 100% 50% no-repeat;padding-right: 20px;cursor: pointer;}
.tcalActive {background-image: url('../images/no_cal.gif');}
#tcal {position: absolute;visibility: hidden;z-index: 100;width: 170px;background-color: white;margin-top: 2px;
	padding: 0 2px 2px 2px;border: 1px solid silver;-moz-box-shadow: 3px 3px 4px silver;-webkit-box-shadow: 3px 3px 4px silver;
	box-shadow: 3px 3px 4px silver;-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='silver')";
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='silver');}
#tcalControls {border-collapse: collapse;border: 0;width: 100%;}
#tcalControls td {border-collapse: collapse;border: 0;padding: 0;width: 16px;background-position: 50% 50%;background-repeat: no-repeat;cursor: pointer;}
#tcalControls th {border-collapse: collapse;border: 0;padding: 0;line-height: 25px;font-size: 10px;text-align: center;font-family: Tahoma, Geneva, sans-serif;font-weight: bold;white-space: nowrap;}
#tcalPrevYear { background-image: url('../images/prev_year.gif'); }
#tcalPrevMonth { background-image: url('../images/prev_mon.gif'); }
#tcalNextMonth { background-image: url('../images/next_mon.gif'); }
#tcalNextYear { background-image: url('../images/next_year.gif'); }
#tcalGrid {border-collapse: collapse;border: 1px solid silver;width: 100%;}
#tcalGrid th {border: 1px solid silver;border-collapse: collapse;padding: 3px 0;text-align: center;font-family: Tahoma, Geneva, sans-serif;font-size: 10px;background-color: gray;color: white;}
#tcalGrid td {border: 0;border-collapse: collapse;padding: 2px 0;text-align: center;font-family: Tahoma, Geneva, sans-serif;width: 14%;font-size: 11px;cursor: pointer;}		
#tcalGrid td.tcalOtherMonth { color: silver; }
#tcalGrid td.tcalWeekend { background-color: #ACD6F5; }
#tcalGrid td.tcalToday { border: 1px solid red; }
#tcalGrid td.tcalSelected { background-color: #FFB3BE; }


/*搜索页面*/
#SearchMain{ width:1100px; height:auto; margin:0 auto; }
#SearchLeft{ width:788px; float:left; border:1px solid #0090ff; }
#SearchRight{ width:298px; float:left; margin-left:10px; border:1px solid #0090FF;}
#SearchList{width:95%; height:auto; border-bottom:1px solid #DDDDDD; margin-top:10px; margin-left:20px; cursor:pointer;}
#SearchOver{width:95%; height:auto; border-bottom:1px solid #DDDDDD; margin-top:10px; margin-left:20px; cursor:pointer; background:#FFFEE5;}
.Searchtime{width:70px; height:60px; float:left; margin-left:4px;  }
.Searchxq{ width:70px; height:30px; background-color:#257DC1;}
.Searchxq font{margin-top:7px; float:left; margin-left:11px; font-size:16px; color:#fff;}
.Searchrq{width:68px; height:31px; border:1px #000 dotted; border-top:none;}
.Searchrq font{margin-top:7px; float:left; margin-left:13px; font-size:16px;color:#3486c5;}
.ADetail{ width:70px; height:30px; background-color:#24D0F4; float:left; color:#fff; text-align:center; vertical-align:middle;}
.ADetele{width:68px; height:31px;background-color:#24D0F4; float:left; margin-left:10px; color:#fff; text-align:center; vertical-align:middle;}


/*分页样式*/
.paginator { font: 11px Arial, Helvetica, sans-serif;padding:10px 20px 10px 0; margin: 0px;}
.paginator a {padding: 1px 6px; border: solid 1px #ddd; background: #fff; text-decoration: none;margin-right:2px}
.paginator a:visited {padding: 1px 6px; border: solid 1px #ddd; background: #fff; text-decoration: none;}
.paginator .cpb {padding: 1px 6px;font-weight: bold; font-size: 13px;border:none}
.paginator a:hover {color: #fff; background: #257DC1;border-color:#257DC1;text-decoration: none;}
        
.anpager { font: 11px Arial, Helvetica, sans-serif;margin:5px 4px 0 0;padding:4px 5px 0;}
.anpager .cpb {background:#257DC1;border:1px solid #CCCCCC;color:#FFFFFF;font-weight:bold;margin:0;padding:4px 5px 1px;}
.anpager a {background:#FFFFFF;border:1px solid #CCCCCC;color:#257DC1;margin: 0;padding:4px 5px 1px;text-decoration:none}
.anpager a:hover{background:#257DC1;border:1px solid #257DC1;color:#FFFFFF;}
        
.pages {  color: #999; }
.pages a, .pages .cpb { text-decoration:none;float: left; padding: 0 5px; border: 1px solid #ddd;background: #ffff;margin:0 2px; font-size:11px; color:#000;}
.pages a:hover { background-color: #E61636; color:#fff;border:1px solid #E61636; text-decoration:none;}
.pages .cpb { font-weight: bold; color: #fff; background: #E61636; border:1px solid #E61636;}



